{% extends "base.html" %}

{% block content %}

<!-- Help Start -->
<div class="container-xxl py-6 pb-5" id="help">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-5">Help</h1>
                <p class="mb-4">Welcome to the Help section! If you have any questions or issues, feel free to reach out for assistance.</p>

                <!-- Add relevant help content here -->

                <h3 class="mb-4">Contact Us</h3>
                <p>If you need further assistance, you can contact our support team at mankulim02@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<!-- Help End -->

{% endblock %}
